{% if product %}
    {% for profile in product %}
    <div class="card">
        <h5 class="card-header">{{ profile.product_details.category }}</h5>
        <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">Kiralama Detayları</h5>
            <p class="card-text">Başlangıç Tarihi: {{ profile.startdate }}</p>
            <p class="card-text">Bitiş Tarihi: {{ profile.stopdate }}</p>
            <p class="card-text">Ürün: {{ profile.product_details.title }} - {{ profile.product_details.description }}</p>
            <p class="card-text">Ağırlık (kg): {{ profile.product_details.weight }}</p>
            <p class="card-text">Üretim Yılı: {{ profile.product_details.date }}</p>        
            <a href="{% url 'update_rent_date' profile.id %}" class="btn btn-primary">Kiralama Tarihi Güncelle</a> 
            <form method="post" action="{% url 'delete_user_profile' profile.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this profile?')">Sil</button>
            </form>
        </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning" role="alert">
        Kiralık aracınız bulunmamaktadır.
    </div>
{% endif %}